page-refer {
    .share-icons{
        ion-icon{
            font-size: 30px;
        }
        text-align: center;
        .facebook{
            color: #3b5998;
        }
        .twitter{
            color:  #0084b4;
        }
        .whatsapp{
            color: #34af23;
        }
        .instagram{
            color: #8a3ab9;
        }
        &:hover{
            background-color: #f2f2f2;
            -webkit-transition: background-color 0.5s ease-out;
            -moz-transition: background-color 0.5s ease-out;
            -o-transition: background-color 0.5s ease-out;
            transition: background-color 0.5s ease-out;
        }
    }
    .share-row-2{
        padding-top: 20px;
    }

}
