<ion-card class="quiz-card" (click)="clickEvent()">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <strong>Funny Trivia Quiz</strong>
          <p>{{"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat, nisl et convallis scelerisque,
            lorem purus cursus nunc, vel finibus justo sapien at nisi. Aenean auctor sed mi at accumsan. In interdum" |slice:0:60}}</p>
        </ion-col>
        <ion-col col-3>
          <img src="https://www.shareicon.net/data/2016/08/05/806962_user_512x512.png" alt="" srcset="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="quiz-footer">
          <strong>Ends in: </strong> 02h 10m 30s
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

</ion-card>